include head.pug
body
 include nav.pug
 main(class= 'container-fluid')
  h2 Alright! Lets add a Kitten
  
  form(id= 'catAddForm' action= '/add' method= 'POST' enctype= 'multipart/form-data')
   br
   label Category
   input(type= 'text' name= 'category')
   br
   label Title 
   input(type= 'text' name= 'title')
   br
   label Details
   input(type= 'text' name= 'details')
   input(type='hidden' name= 'owner' value= loggedUser readonly)
   <br>
   label Image
   input(type= 'file' name= 'original')
   br
   button(class='btn' id='submit' type='submit') Submit
 script(type= 'text/javascript' src='../scripts/form.js')