nav(class= 'row')
 a(class= 'col-sm-2' href= '/')= 'Home'
 div(class= 'right')
  if !user
   a(class= 'col-sm-2' href= '/login')= 'Login'
   a(class= 'col-sm-2' href= '/signUp')= 'Sign Up'
  if user
   a(class= 'col-sm-2' href= '/logout')= 'Logout'