
doctype html
html(lang='en')
 head
  title= 'Edit the Kitten'
  meta(charset= 'utf-8')
 body
  nav
   a(href= '/')= 'Home'
  main
   h2 Alright! Lets edit this Kitten
   h5 With the id: ID
   
   form(id= 'catEditForm' action='/add' method='PUT' enctype='multipart/form-data')
    label Category
    input(type= 'text' name= 'category' placeholder= category )
    <br>
    label Title 
    input(type= 'text' name= 'title' placeholder= title )
    <br>
    label Details
    input(type= 'text' name= 'details' placeholder= details )
    <br>
    label Image
    input(type='file' name='original')
    <br>
    button(class='btn' id='submit' type='submit') Submit
  script(src='../public/scripts/editForm.js')